<clr-datagrid [(clrDgSelected)]="selected">
  <clr-dg-column *ngFor="let field of fields"  [clrDgField]="'[field]'">{{field}}</clr-dg-column>
  <clr-dg-row *clrDgItems="let value of values" [clrDgItem]="value">
    <clr-dg-cell *ngFor="let item of value">{{item}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer *ngIf="displayPagination">
    <clr-dg-pagination #pagination [clrDgPageSize]="3">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Items per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} items
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
